[run]
source =
    v02

omit =
    v02/makotemplates/**
    v02/distinctfiles/**
    v02/utilities/**
    v02/generate.py
    v02/redo_xampp_selective.py
    tests/**

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
